# general files
.idea/
.DS_Store

# ipynb checkpoints
.ipynb_checkpoints
.virtual_documents
gw/.ipynb_checkpoints
simulations/.ipynb_checkpoints
simulations/.virtual_documents
brane-theory-sims/__pycache__/
friedmann/__pycache__/